{% include 'header.html' %}
<!-- Wrapper -->
<div id="wrapper">

    {% include 'navbar.html' %}

    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>Selecteaza categoriile<br />
                    care te intereseaza</h1>
                    <span class="date"></span>
            </header>
            <div>
            </div>
        </section>

    </div>

    {% include 'outro.html' %}

</div>
{% include 'footer.html' %}