{% include 'header.html' %}
<!-- Wrapper -->
<div id="wrapper">

    {% include 'navbar.html' %}

    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <section class="post">
            <header class="major">
                <h1>Selectează categoriile<br />
                    care te interesează</h1>
                <span class="date"></span>
            </header>

            <form method="POST">
                {{ form.csrf_token }}

                <div class="fields">
                    <div class="field">
                        {{ form.business }}
                        <label for="business">Afaceri</label>
                    </div>
                    <div class="field">
                        {{ form.entertainment }}
                        <label for="entertainment">Divertisment</label>
                    </div>
                    <div class="field">
                        {{ form.health }}
                        <label for="health">Sănătate</label>
                    </div>
                    <div class="field">
                        {{ form.science }}
                        <label for="science">Știință</label>
                    </div>
                    <div class="field">
                        {{ form.sports }}
                        <label for="sports">Sport</label>
                    </div>
                    <div class="field">
                        {{ form.technology }}
                        <label for="technology">Tehnologie</label>
                    </div>
                </div>
                <ul class="actions content-center">
                    <li><input type="submit" value="Salvează" /></li>
                </ul>
            </form>

    </div>
    </section>
</div>

{% include 'outro.html' %}

</div>
{% include 'footer.html' %}