{% include 'header.html' %}

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

	<!-- Intro -->
	<div id="intro">
		<h1>News Buddy</h1>
		<p><b>Your hot and cold news served everyday.</b></p>
		<ul class="actions">
			<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
		</ul>
	</div>

	{% include 'navbar.html' %}

	<!-- Main -->
	<div id="main">

		<!-- Posts -->
		<section class="posts">
			{% for art in news %}
			<article>
				<header>
					<span class="date">{{ art.publishedAt }}</span>
					<h4><a href="{{ art.url }}">{{ art.title }}</a></h4>
				</header>
				<a href="{{ art.url }}" class="image fit"><img src="{{ art.urlToImage}}" alt="" /></a>
				<p>{{ art.description }}</p>
				<ul class="actions special">
					<li><a href="#" class="button icon solid fa-heart"></a></li>
					<li><a href="{{ art.url }}" class="button">View full article</a></li>	
					<li><a href="#" class="button icon solid fa-heart-broken"></a></li>

				</ul>
			</article>
			{% endfor %}
		</section>



	</div>

	{% include 'outro.html' %}

</div>

{% include 'footer.html' %}