{% include 'header.html' %}
<!-- Wrapper -->
<div id="wrapper">

    {% include 'navbar.html' %}

    <!-- Main -->
    <div id="main">
        <section>
            <header class="major">
                <h1>Autentifica-te</h1>
                <span class="date"></span>
                <p>Pentru a accesa propriile preferinte in platforma, trebuie sa te autentifici.</p>
            </header>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field">
                        <label for="username">Nume de utilizator</label>
                        <input type="text" name="username" id="username" />
                    </div>
                    <div class="field">
                        <label for="password">Parola</label>
                        <input type="password" name="password" id="password" />
                    </div>
                </div>
                <ul class="actions content-center">
                    <li><input type="submit" value="Submit" /></li>
                </ul>
            </form>
        </section>
    </div>
    {% include 'outro.html' %}

</div>
{% include 'footer.html' %}