{% include 'header.html' %}
<!-- Wrapper -->
<div id="wrapper">

    {% include 'navbar.html' %}

    <!-- Main -->
    <div id="main">
        <section>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" />
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" />
                    </div>
                </div>
                <ul class="actions content-center">
                    <li><input type="submit" value="Submit" /></li>
                </ul>
            </form>
        </section>
        
    </div>



   


    {% include 'outro.html' %}

</div>
{% include 'footer.html' %}