<!-- Header -->
<header id="header">
    <a href="/" class="logo">News Buddy</a>
</header>

<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/generic">Generic</a></li>
        <li><a href="/elements">Elements</a></li>
    </ul>
    <ul class="icons">
        <li>
            <i class="pointer fas fa-user-plus"></i>
        </li>
        <li>
            <i class="pointer fas fa-sign-in-alt"></i>
        </li>
    </ul>
</nav>