<!-- Header -->
<header id="header">
    <a href="/" class="logo">News Buddy</a>
</header>

<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/generic">Generic</a></li>
        <li><a href="/elements">Elements</a></li>
    </ul>
    <ul class="icons">
        {% if user is defined %}
        <li>
            <span>{{ user.username }}</span>
        </li>
        <li>
            <a href="/signout">
                <i class="pointer fas fa-sign-out-alt"></i>
            </a>
        </li>
        {% else %}
        <li>
            <a href="/signup">
                <span>Înregistrare</span>
                <i class="pointer fas fa-user-plus"></i>
            </a>
        </li>
        <li>
            <a href="/signin">
                <span>Autentificare</span>
                <i class="pointer fas fa-sign-in-alt"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>