{% include 'header.html' %}

<h3>Achizitie bilet la eCinemaGov</h3>
<form method="POST">
    {{ form.csrf_token }}
    
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="name">Nume si prenume</label>
            {{ form.name(class_='form-control') }}
        </div>        
        <div class="col-md-6 form-group">
            <label for="age">Varsta</label>
            {{ form.age(class_='form-control') }}
        </div>
    </div>
    <div class="row row-note">
        <div class="col-md-12">
            <small id="ageHelp" class="form-text text-muted"><i>Nota:</i> Copii cu varsta sub 7 ani beneficiaza de gratuitate.</small>    
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="county">Judet</label>
            {{ form.county(class_='form-control selectpicker') }}
        </div>
        <div class="col-md-6 form-group">
            <label for="locality">Localitatea</label>
            {{ form.locality(class_='form-control selectpicker') }}
        </div>
    </div>
    <div class="row row-note">
        <div class="col-md-12">
            <small id="countyHelp" class="form-text text-muted"><i>Nota:</i> Pentru a putea selecta localitatea, va rugam sa selectati initial judetul.</small>    
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="row">Rand</label>
            {{ form.row(class_='form-control selectpicker') }}                
        </div>
        <div class="col-md-6 form-group">
            <label for="column">Scaun</label>
            {{ form.column(class_='form-control selectpicker') }}
        </div>
    </div>
    <div class="row row-note">
        <div class="col-md-12">
            <small id="countyHelp" class="form-text text-muted"><i>Nota:</i> Pentru un loc aleator se acorda o reducere totala de 10%.</small>    
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="day">Ziua</label>
            {{ form.day(class_='form-control selectpicker') }}                
        </div>
        <div class="col-md-6 form-group">
            <label for="movie">Film si ora</label>
            {{ form.movie(class_='form-control selectpicker') }}                  
        </div>
    </div>
    <div class="row row-note"></div>
    <div class="row">
        <div class="col-md-12 d-flex">
            <button type="submit" class="btn btn-primary col-md-6">Submit</button>
        </div>
    </div>
</form>


<script>
    let nameInput = document.getElementById('name');
    let ageInput = document.getElementById('age');

    let countySelect = document.getElementById('county');
    let localitySelect = document.getElementById('locality');
    
    let rowSelect = document.getElementById('row');
    let columnSelect = document.getElementById('column');

    let daySelect = document.getElementById('day');
    let movieSelect = document.getElementById('movie');

    // Setup attributes
    nameInput.setAttribute('required', 'true');
    nameInput.setAttribute('pattern', '[a-zA-Z -]+')

    ageInput.setAttribute('type', 'number')
    ageInput.setAttribute('required', 'true');
    ageInput.setAttribute('min', '7');

    countySelect.setAttribute('data-live-search', 'true');
    localitySelect.setAttribute('data-live-search', 'true');

    rowSelect.setAttribute('data-live-search', 'true');
    columnSelect.setAttribute('data-live-search', 'true');

    daySelect.setAttribute('data-live-search', 'true');
    movieSelect.setAttribute('data-live-search', 'true');

    countySelect.onchange = async () => {
        county_id = countySelect.value;

        try {
            let response = await fetch(`/locality/${county_id}`);
            let localities = await response.json();

            localities.sort((lhs, rhs) => lhs.name.localeCompare(rhs.name));

            localitySelect.innerHTML = localities.map(l => `<option value="${l.id}">${l.name}</option>`).join('')

            $('#locality').selectpicker('refresh');
            if (localitySelect.length >= 0) {
                $('#locality').selectpicker('val', localities[0].id);
            }
        } catch (e) {
            alert(`Could not perform request. Returned error: ${e}.`)
        }
    }

    daySelect.onchange = async () => {
        day_id = daySelect.value;

        try {
            let response = await fetch(`/movie/${day_id}`);
            let movies = await response.json();

            movieSelect.innerHTML = movies.map(m => `<option value="${m.id}">${m.name}</option>`).join('')
            $('#movie').selectpicker('refresh');
            if (movies.length >= 0) {
                $('#movie').selectpicker('val', movies[0].id);
            }
        } catch (e) {
            alert(`Could not perform request. Returned error: ${e}.`)
        }
    }
</script>

{% include 'footer.html' %}    