{% include 'header.html' %}

<div class="main">
    <div class="row">
        <div class="col-md-12 d-flex">
            <h3>Bilet achizionat la eCinemaGov din <i>{{ reservation.locality }}</i>, judet <i>{{ reservation.county }}</i></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex">
            <h4>Proprietar <i>{{ reservation.name }}</i></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-mod-12 d-flex">
            <h4><b>{{ reservation.movie.name }}</b></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex">
            <h4>Rand <i>{{ reservation.row }}</i>, Scaun <i>{{ reservation.column }}</i></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex">
            <h4><i>{{ reservation.movie.day }}</i>, Ora <i>{{ reservation.movie.hour }}</i></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex price">
            <h4>Pret: <i>{{ price }}</i> RON, din care TVA <i>{{ tax }}</i></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex">
            <h4>Reduceri folosite:</h4>
        </div>
    </div>
    {% for discount in discounts %}
        <div class="row">
            <div class="col-md-12 d-flex">
                <h5><b>{{ discount[0] }}</b> {{ discount[1] }}</h5>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-4 d-flex">
            <a class="btn btn-primary" href="/" role="button">Achizitioneaza inca un bilet</a>
        </div>
        <div class="col-md-4 d-flex">
            <a class="btn btn-success" href="{{ invoice_uri }}" role="button">
                <i class="fa fa-download px-1"></i> 
                Descarca factura
            </a>
        </div>
        <div class="col-md-4 d-flex">
            <a class="btn btn-success" href="{{ xml_doc_uri }}" role="button">
                <i class="fa fa-download px-1"></i> 
                Descarca rezervarea
            </a>
        </div>
    </div>
</div>

{% include 'footer.html' %}